# Ignore virtual environments and build artifacts
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache and outputs
.kindersort_cache.pkl
kindersort_log.txt
/dist/
/build/

# PyInstaller
*.spec

# OS files
.DS_Store
Thumbs.db
